*{ 
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

@media all and (min-width: 1170px){ 
    
    .container{ 
        position:static;
    }
    .obraz{ 
        height: 100vw;
        width: 100vw;
        background-image: url('obrazy/man-1.jpg');
        background-size: cover;
    }
    .tekst{ 
        position: absolute;
        top: 585px;
        z-index: 1;
        vertical-align: middle;
        text-transform: uppercase;
        text-align: left;
        color: white;
    }
 
}
@media all and (min-width:992px) and (max-width: 1170px){ 
    
    .container{ 
        position:static;;
    }
    .obraz{ 
        height: 70vw;
        width: 100vw;
        background-image: url('obrazy/man-2.jpg');
        background-size: cover;
    }
    .tekst{ 
        position: absolute;
        top: 20%;
        left: 55%;
        z-index: 1;
        text-transform: uppercase;
        color: white;
    }
    

}
@media all and (max-width: 992px){ 
    
    .container{ 
        position:static;
    }
    .obraz{ 
        height: 50vw;
        width: 100vw;
        background-image: url('obrazy/man-1.jpg');
        background-size: cover;
    }
    .tekst{ 
        position: relative;
        text-transform: uppercase;
        text-align: center;
    }
}